@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf');
}
/* 
    954px para altura 
    516×1047 altu. e largu. minima
*/
:root {
    --verde-fraco: #90EE90;
    --verde-forte: #195a37;
}
* {
    margin: 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    background-color: black;
}


header {
    background-image: linear-gradient(to bottom, #90EE90, var(--verde-forte));
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
header > p {
    text-align: left;
}


main {
    margin: 8px auto;
    padding: 5px;
    min-width: 492px;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
}
section#cont-cores {
    background-color: lightgray;
}

h1 {
    font-family: 'Android';
}


ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}



h1#exemplo-caixa {
    width: 300px;
    height: 50px;
    background-color: lightgray;
    border: 10px solid red;
    padding: 20px;
    outline: 30px solid blue;
    margin: 50px auto;
    text-align: center;
}



#caixa1 {
    margin: 0px auto;
    background-color: lightgreen;
    color: var(--verde-forte);

    width: 500px;
    height: 600px;

}







div#seletores {
    background-color: lightgray;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}
a:visited {
    color: darkred;
}
a:hover {
    text-decoration: underline;
}
a.especial:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}
a.especial::before {
    content: 'Aqui é o que vai aparecer antes - ';
    font-weight: lighter;
}
a.especial::after {
    content: ' - Aqui é o que vai aparecer depois';
    font-weight: lighter;
}







footer {
    background-color: var(--verde-forte);
    text-align: center;
    padding: 6px;
    margin-top: 5px;
}
footer > a {
    text-decoration: none;
    color: white;
}
footer > a:hover {
    background-color: var(--verde-fraco);
    color: var(--verde-forte);
    padding: 6px;
}