@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #00EB17, #32963C)
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #016b0cc9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #EB004C;
    text-align: center;
    text-shadow: 2px 2px 4px #740025dc;
}

h2 {
    color: #003DEB;
}

p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}